.headerWrapper {
    margin-bottom: 6vh;
}

.headingImage {
    background: linear-gradient(to bottom, transparent, var(--color-background)),url('/images/bg-heading1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 4vh;
    position: relative;
}

.heroRegister {
    padding: 16vh 0;
}

.heroContent {
    box-shadow: 0 0 100px -10px #000
}

.layoutMainContainer {
    margin-bottom: 12vh;
}

.breadcrumbs {
    margin-bottom: 5vh;
}

.breadcrumbs ol li+li:before {
  padding: 8px;
  color: silver;
  content: "/\00a0";
}